<%- include('header-admin.ejs') %>
<link rel="stylesheet" href="styles/index.css">
<body>
    <body>
        <div class="banner">
            <div class="capa">
                <div class="info">
                    <h1>Bienvenido SKEERE</h1>
                    <p>Toma el control de tu negocio</p>
                </div>
            </div>
        </div>
    </body>
</body>
</html>
