body{
    background-image: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
  }



.box{
    width: 400px;
    background: rgba(114, 114, 107, 0.8);
    margin: 0 auto;
    margin-top: 16%;
    padding:20px ;
    text-align: center;
    border-radius: 15px ;
  
  }
  
  .box_img{
    border-radius: 50%;
  }
  

  .btn{
      background-color: black;
      color:azure;
      
  }